@import 'tailwindcss';

body {
    font-family: 'Roboto Slab', serif;
}

.main-font {
    font-family: 'Roboto Slab', serif;
    font-weight: 1000;
}

.font-header {
    font-family: 'Roboto Slab', serif;
    font-weight: 650;
    font-size: 16px;
}
.bg-gradient {
    background-image: url("/Homebg.svg");
    background-position: center;
    background-size: cover;
}

.bg-gradient-plant {
    background-image: url("/registratiepaginabg-3.svg");
    background-position: center;
    background-size: cover;

    background-attachment: fixed;
    background-repeat: no-repeat;
}

.center-h {
    display: flex;
    justify-content: center;
}

.center-v {
    display: flex;
    align-items: center;
}

.hoverbutton {
    position:relative;
    transition: ease-in-out 0.2s;
}


.hoverbutton:hover {
   transform: scale(1.025);
   @apply hover:shadow-lg hover:shadow-gray-400;
}

.selecttext {
    transform: scale(1.0);
    transition: 0.2s ease;

    @apply focus:shadow-lg focus:shadow-gray-400;
}

.selecttext:focus {
    position: relative;
    transition: ease-in-out 0.2s;
    transform: scale(1.025);
}

.btn-green {
    @apply bg-green-200 border-green-300;
}

.btn-orange {
    @apply bg-orange-200 border-orange-300;
}

.btn-red {
    @apply bg-red-200 border-red-300;
}

.bg-color-register {
    background-color: #EAEAEA;
}

.bg-dragfile {
    background-color: #f6f6f6;
}